<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapplication.mapper.auto.NameSignMapper">

    <!-- 查找用户信息 -->
    <select id="findAllNameSign" resultType="com.example.myapplication.model.auto.NameSign">
        select * from name_sign
    </select>

</mapper>